@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Forum&display=swap');


body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #e6b850;
  background-color: rgb(0, 0, 0);
}

h1 {
  color: #e6b850;
  text-align: center;
}



/* Nav bar CSS */
.nav-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    height: 85px;
    background-color: rgb(0, 0, 0);
  z-index: 1;
}

.nav-image {
    height: 50px;
cursor: pointer;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
    // Routes nav bar CSS

    .special-nav-bar {
display: flex;
align-items: center;
justify-content: start;
padding-left: 30px;
background-color: rgba(0, 0, 0, 0.719);
position: fixed;
    }
  

  /*  Sidebar menu CSS */
  .menuItem {
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
    color: #e6b850;
    text-decoration: none;

  }
  
  .menuItem {
    display: block;
    margin: 2rem 4rem;
    font-size: 1.8rem;
        cursor: pointer;
        position: relative;
        text-decoration: none;
        letter-spacing: 0.5px;
        padding: 0 50px;
        &:after {
          content: "";
          position: absolute;
          background-color: #e6b850;
          height: 3px;
          width: 0;
          bottom: -6px;
          transition: width 0.4s ease, left 0.4s ease;
        }
        &:hover:after {
            width: 12%; 
            left: calc((100% - 12%) / 2);
        }
      
        &:not(:hover):after {
          width: 0; 
          left: 50%; 
        }
  }
  
  
  .hamburger {
    position: fixed;
    z-index: 1100;
    right: 1rem;
    padding: 20px;
  background-color: transparent;
    color: #e6b850;
    cursor: pointer;
  }
  

  
  .menu {
    position: fixed;
    transform: translateY(-100%);
    transition: transform 0.5s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.933);
    color: #e6b850;
    list-style: none;
    padding-top: 4rem;
  }
  
  .showMenu {
    transform: translateY(0);
  }





/* Button CSS */

button {
    background-color: #E8D7CE;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;

}


/* Section CSS */

section {
    text-align: center;
    height: 560px;
    width: 100%;
}


/* Landing Page */
#landing-page {
    height: 560px;
    background-image: url(/PPD.jpeg);
    background-size:cover;
    background-position: center;
    display: flex;
    flex-direction: column-reverse;
    margin: 0 0 80px 0;
}

.banner {
    background-color: rgba(0, 0, 0, 0.790);
    width: 580px;
    height: 200px;
    font-family: 'Forum', cursive;
    letter-spacing: 0.2px;
    font-size: 40px;
    color: #e6b850;
    display: block;
 padding: 20px 5px;
margin-bottom: 50px;
}

 .hollow-button {
border: 2px solid #e6b850;
background-color: transparent;
color: #e6b850;
font-family: 'DM Sans', sans-serif;
font-weight: 300;
font-size: 14px;
letter-spacing: 1px;
padding: 8px 30px;
width: 180px;
}

.hollow-button:hover {
    border: 3px solid  #ffcc57;
    color:  #ffcc57;
}

.solid-button {
    border: 2px solid #e6b850;
    background-color: #e6b850;
    color: black;
    font-family: 'DM Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 8px 30px;
    margin: 25px 0 0 5px;
    width: 180px;
}

.solid-button:hover {
    background-color:  #ffcc57;
   border: 2px solid #ffcc57;
}

section {
  height: max-content;
}

.section-button {
  background-color:  #e6b850;
  border: 2px solid #e6b850;
  color: black;
font-family: 'DM Sans', sans-serif;
font-weight: 300;
font-size: 14px;
letter-spacing: 1px;
width: 180px;
height: 40px;
padding: 8px 10px;
margin: 40px auto;

}

.section-button:hover {
  background-color:  #ffcc57;
  color: black;
}

.section-header {
  font-size: 36px;
  padding-bottom: 25px;
}

// Sections Right and left

.section-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 22px;
  line-height: 1.6;
  margin: 100px 0 0 0;
}



#section-left {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: 'Forum', cursive;
  color:#e6b850;
  padding: 100px 150px;

}



 .main-image{
  flex: 1 1 50%;
  box-sizing: border-box;
 padding: 0 80px;
}





#section-right {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  font-family: 'Forum', cursive;
  color:#e6b850;
  padding: 50px 150px;              
}

#section-left img {
  height: 480px;
  transition: transform 0.3s ease-in-out;
}


#section-right img{
  height: 480px;
  transition: transform 0.3s ease-in-out;
}

#section-left img:hover, #section-right img:hover {
  transform: scale(1.02);

}

// Section 3 CSS

#section3 {
  padding: 120px 0;
  margin: 0;
height: auto;
}

#section3 img {
    width: 350px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
   justify-content: center;
   align-content: center;
   gap: 20px; 
 margin: 0 auto;
 
}



.image-container {
  position: relative;
  display: inline-block;
  margin: 10px;
}

.static-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20%;
  background-color: #000000c3;
  opacity: 1;

}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:#e6b950b2;
  opacity: 0;
  transition: opacity 0.9s ease;
}

.image-container:hover .overlay {
  opacity: 1;
  cursor: pointer;
}

.flex-item img {
  display: block; 
}

.text {
  position: absolute;
  top: 90%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  color:#e6b950c6;
  font-size: 35px; 
  
 font-family: "Forum", cursive;
  text-align: center; 
  pointer-events: none; 
}

.image-container:hover .text {
  color: black;
  font-weight: bold;
}

// About page CSS


#about-section {
  padding: 80px 0;  
}

.about-header {
  font-size: 42px;
  font-family: "Forum", cursive;
  border-bottom: 2px solid #e6b850;
  padding-bottom: 5px;
  margin: 100px 0 60px 0;
  display: inline-block;
}
.about-us {
  padding: 0 150px;
  height: auto;
  text-align: center;
  font-size: 22px;
  font-family: "Forum", cursive;
}

.about-us p {
  padding: 0 100px;
}


.about-text {
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  color:#e6b950c6;
  font-size: 35px; 
  font-weight: bold;
 font-family: "Forum", cursive;
  text-align: end; 
  pointer-events: none; 
}

.about-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0000003e;
  opacity: 1;
}

.image-container:hover .about-text {
  color: black;
  font-weight: bold;
}

#about-section img {
  display: block; 
  width: 280px;
  height: 260px;
}

.about-hr {
  border: 2px solid #e6b850;
  margin: 0 auto;
  width: 80%;
margin: 20px auto;
}



// Our work page CSS

#work-page {
  margin: 0;
  padding: 0;
height: auto;
padding: 50px;
}

#work-page h1 {
  font-size: 36px;
  font-family: "Forum", cursive;
  padding-bottom:60px;
}

#work-section {
  margin-bottom: 60px;
  height: auto;
}


.work-flex-container {
  display: flex;
 flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 20px; 
max-width: 1600px;
padding: 0 50px;
margin: 0 auto;
}

.work-flex-container img {
  width: 340px;
}


// Modal CSS


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: black;
  width: 880px;
  height: 550px;
  padding: 50px 80px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); 
  position: relative;
}

.modal p {
  font-size: 15px;
  
}

.exit-button {
  border: none;
  font-size: 24px;
  width: 10%;
  margin: 0;
  padding: 0;
  background-color: transparent;
  color: #e6b950;
  position: absolute;
  right: 0px;
  top: 14px;
  cursor: pointer;
}

.modal button:hover {
  font-weight: bold;
}



// Carousel CSS

.carousel {
  background-color: transparent;
 position: relative;
 height: 600px;
 width: 100%;
 margin: 0 auto;
}
.carousel-button img {
 height: 55px;
 width: 60%;
 right: 0;
}

.carousel-button {
background-color: transparent;
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  cursor: pointer;
z-index: 1100;
}

.carousel-button--left {
  left: -100px;
}


.carousel-button--right {
 right: -100px;
}

.carousel-container {

 height: 100%;
 position:relative;
 overflow: hidden;
}
.carousel-list {
 position: relative;
 height: 100%;
 transition: transform 250ms ease-in;
}

.carousel-slide {
 position: absolute;
 top: 0;
 bottom: 0;
 width: 100%;
}

.carousel-image {
  width: 100%;
  object-fit: cover;
}



// Header CSS for all pages

.page-header {
  
  font-size: 42px;
  font-family: "Forum", cursive;
 border-bottom: 2px solid #e6b850;
 padding-bottom: 5px;
 margin: 100px 0 35px 0;
 display: inline-block;
}

// Services page CSS

.services-header {
  font-size: 42px;
  font-family: "Forum", cursive;
 border-bottom: 2px solid #e6b850;
 padding-bottom: 5px;
 margin: 100px 0 35px 0;
 display: inline-block;
}

.services-text {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  font-size: 22px;
  line-height: 1.6;
  margin: 0 100px;
}


#services-left {
  display: flex;
  flex-direction: row;
  // flex-wrap: wrap;
  font-family: 'Forum', cursive;
  color:#e6b850;
  padding: 100px 150px;

}

 .services-image{
  flex: 1 1 50%;
  box-sizing: border-box;
 
}


#services-right {
  display: flex;
  flex-direction: row-reverse;
  // flex-wrap: wrap;
  font-family: 'Forum', cursive;
  color:#e6b850;
  padding: 50px 150px;              
}

#services-left img {
  height: 400px;
  width: 400px;
  transition: transform 0.3s ease-in-out;
}


#services-right img{
  height: 400px;
  width: 400px;
  transition: transform 0.3s ease-in-out;
}

#services-left img:hover, #services-right img:hover {
  transform: scale(1.02);

}

// Contact page CSS

.contact-email {
  color: #e6b850;
  text-decoration: none;
  font-size: 20px;
}

.contact-email:hover {
  color:white;
}

.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  margin: 0 auto;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 22px;

 padding: 50px 0 80px 0;
 margin: 0 auto;
 flex-grow: 1;       
 flex-shrink: 0;     
 flex-basis: 400px; 
 max-width: 550px;
}

.contact-form input, .contact-form textarea {
  
border: 2px solid #e6b850;
padding: 15px;
margin-bottom: 10px;
background-color: #0000006c;
color:white;
font-family: "DM Sans", sans-serif;
font-size: 15px;
}

.contact-form button {
  
  border: 2px solid #e6b850;
  padding: 15px;
  background-color: #e6b850;
  color: black;
  font-family: "DM Sans", sans-serif;
}

.contact-form button:hover {
  background-color:  #ffcc57;
  color: black;
  cursor: pointer;
}


// Footer CSS

#section-footer {
  height: 500px;
   position: relative;
   display: inline-block;
   background-color: #0f0f0f;
   margin: 80px 0 0 0;
}

.footer-overlay {
  position: absolute;
  bottom: 5%;
  left: 0;
  width: 100%;
  height: 10%;
  background-color: #e6b850;
  opacity: 1;
}

.footer-text {
  position: absolute;
  top: 90%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  color:#000000c6;
  font-size: 18px; 
  font-weight: 200;
 font-family: "DM Sans", sans-serif;
  text-align: center; 
  letter-spacing: 1px;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 10px; 

  padding: 80px 0 0 180px;
}

.footer-item {
  text-align: start; 
  color: white;
}

.footer-heading {
  font-size: 34px;
  font-family: "Forum", cursive;
  color: #e6b850;
  padding-bottom: 20px;
}

li, li a {
  list-style-type: none;
  text-decoration: none;
  font-size: 20px;
  font-family: 'DM Sans', sans-serif;
    font-weight: 200;
    letter-spacing:1px;
  color: white;
  line-height: 1.6;
}

li a:hover {
  color: #e6b850;
}

.footer-contact {
  font-size: 34px;
  font-family: "Forum", cursive;
  color: #e6b850;
  margin-bottom: 4px;
}

.footer-number {
  font-size: 24px;
  color: #e6b850;
  letter-spacing: 1.6px;
  font-weight: bold;
  margin-bottom: 4px;
}

.footer-email {
  font-size: 16px;
  font-family: "DM Sans", sans-serif;
  letter-spacing: 1px;
  font-weight:200;
 color: white;
 text-decoration: none;
}

.footer-email:hover {
  color: #e6b850;
}

.footer-social{
  margin-top: 10px;
  font-size: 20px;
  color: #434242;
}

.footer-social a {
  vertical-align: middle;
  font-size: 22px;
  color: #434242;
}

.footer-social a:hover {
  color: #e6b850;
}


/* Responsive CSS */
/* Media Queries */

@media only screen and (min-width: 1600px) {
  .services-text, .section-text {
    
    margin: 0 100px;
  }

  #services-left img, #services-right img, #section-left img, #section-right img {
    margin: 0 100px;
  }
}

@media only screen and (max-width: 1400px) {

  // Landing page

  #landing-page {
    padding: 0;
  }

  // Services page

  .services-header {
    margin: 100px 0 60px 0;
  }

  .services-text, .section-text {
    font-size: 20px;
    width: 80%;
    margin: 0 0 100px 0;
  }

  #services-left, #section-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 40px;
    padding: 0;
  }

  #services-right, #section-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 40px;
    padding: 0;
  }

  #services-left img, #services-right img, #section-left img, #section-right img {
  height: 350px;
  width: 350px;
}
}

@media only screen and (max-width: 1200px) {

  // Work page

  .modal {
    height: 550px;
  }

  .carousel-button {
    top: 40%;
  }

  .menuItem {
 
        &:hover:after {
            width: 25%; 
            left: calc((100% - 25%) / 2);
        }
      
        &:not(:hover):after {
          width: 0; 
          left: 50%; 
        }
  }

  // About us page
  .about-us {
    height: auto;
  }


  .about-header, .services-header, .page-header {
    width: 25%;
    font-size: 35px;
  }

 

  .about-hr {
    width: 100%;
  }


  // Main pages




  .section-text {
      font-size: 20px;
      padding: 0;
  }


  .section-header {
      font-size: 32px;
  }



  .text {
      font-size: 30px;
  }

  // Footer

  .footer-text {
      font-size: 18px;
  }

  .footer-container {
      padding: 80px 0 0 100px;
  }

  .footer-heading {
      font-size: 30px;
  }

  li,
  li a {
      font-size: 18px;
  }

  .footer-contact {
      font-size: 30px;
  }

  .footer-number {
      font-size: 20px;
      letter-spacing: 1.2px;
  }

  .footer-email {
      font-size: 14px;
  }

  .footer-social {
      font-size: 18px;
  }

  .footer-social a {
      font-size: 20px;
  }

}

@media only screen and (max-width: 1024px) {


  .menu {
    padding-top: 3rem;
  }

  .carousel-button {
    top: 45%;
  }
}


@media only screen and (max-width: 992px) {

  // Services page

  .services-text {
    font-size: 18px;
  }


  // Work page

  .modal {
    height: 480px;
  }

  .carousel-button {
    top: 30%;
  }

  // About us page

  .about-us {
    font-size: 20px;
  }




  

 

  // Main page

  .section-text {
    
      font-size: 18px;
  }

  .section-header {
      font-size: 28px;
  }



  .text {
      font-size: 28px;
  }


  // Footer

  .footer-text {
      font-size: 16px;
  }

  .footer-heading {
      font-size: 28px;
  }

  li,
  li a {
      font-size: 16px;
  }

  .footer-contact {
      font-size: 28px;
  }

  .footer-number {
      font-size: 18px;
      letter-spacing: 1px;
  }

  .footer-email {
      font-size: 12px;
  }

  .footer-social {
      font-size: 16px;
  }

  .footer-social a {
      font-size: 18px;
  }

}

@media only screen and (max-width: 768px) {
  
// Services page
s

  .services-text {
    font-size: 16px;
  }


  // Work page

  .modal {
    height: 430px;
  }

  .carousel-button {
    top: 30%;
  }

  // About us page

  .about-us {
    font-size: 18px;
  }


  .about-hr {
    width: 100%;
  }

 
 

  // Main page

  .section-text {
      font-size: 16px;
  }


  .section-header {
      font-size: 24px;
  }



  .text {
      font-size: 28px;
  }

  // Footer

  .footer-text {
      font-size: 14px;
  }

  .footer-container {
      grid-template-columns: repeat(2, 1fr);
      padding: 80px 0 0 80px;
  }

  .footer-heading {
      font-size: 26px;
  }

  li,
  li a {
      font-size: 14px;
  }

  .footer-contact {
      padding-top: 40px;
      font-size: 26px;
  }

  .footer-number {
      font-size: 16px;
      letter-spacing: 0.8px;
  }

  .footer-email {
      font-size: 10px;
  }

  .footer-social {
      font-size: 14px;
  }

  .footer-social a {
      font-size: 16px;
  }

}

@media only screen and (max-width: 576px) {

// Services page



  .services-text {
    font-size: 14px;
  }

  // Work page

  .modal {
    height: 350px;
  }

  .exit-button {
    right: 10px;
  }
  
  .carousel-button {
    top: 20%;
  }

  // About us page

  .about-us {
    font-size: 16px;
  }



  .about-hr {
    width: 100%;
  }




  // Main page

  .section-text {
    font-size: 16px;
}



.section-header {
    font-size: 24px;
}

  .nav-image {
      height: 46px;
  }



  .banner {
      font-size: 36px;
      width: 560px;
      height: 200px;
  }

  // Footer

  .footer-text {
      font-size: 12px;
  }

}



@media only screen and (max-width: 480px) {

// Services page


  .services-text {
    font-size: 12px;
  }

  // Work page

  .modal {
    height: 350px;
  }

  .exit-button {
    right: 10px;
  }
  
  .carousel-button {
    top: 20%;
  }


  .about-hr {
    width: 100%;
  }

  // Main page

  .section-text {
    font-size: 16px;
}




.section-header {
    font-size: 24px;
}

  .nav-image {
      height: 46px;
  }

 

  .banner {
      font-size: 36px;
      width: 560px;
      height: 200px;
  }

}
