@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Forum&display=swap');


body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #e6b850;
  background-color: rgb(0, 0, 0);
}

h1 {
  color: #e6b850;
  text-align: center;
}



/* Nav bar CSS */
.nav-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 100;
    height: 85px;
    background-color: rgb(0, 0, 0);
  
}

.nav-image {
    height: 50px;
cursor: pointer;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
    // Routes nav bar CSS

    .special-nav-bar {
display: flex;
align-items: center;
justify-content: start;
padding-left: 30px;
background-color: rgba(0, 0, 0, 0.23);
    }
  

  /*  Sidebar menu CSS */
  .menuItem {
    display: block;
    font-size: 1.8rem;
    color: #e6b850;
    text-decoration: none;
  }
  
  .menuItem {
    display: block;
    margin: 2rem 4rem;
    font-size: 1.8rem;
        cursor: pointer;
        position: relative;
        text-decoration: none;
        letter-spacing: 0.5px;
        padding: 0 50px;
        &:after {
          content: "";
          position: absolute;
          background-color: #e6b850;
          height: 3px;
          width: 0;
          bottom: -6px;
          transition: width 0.4s ease, left 0.4s ease;
        }
        &:hover:after {
            width: 14%; /* Adjusted width to 12% to approximately match text width */
            left: calc((100% - 14%) / 2);
        }
      
        &:not(:hover):after {
          width: 0; 
          left: 50%; 
        }
  }
  
  
  .hamburger {
    position: fixed;
    z-index: 100;
    right: 1rem;
    padding: 20px;
  background-color: transparent;
    color: #e6b850;
    cursor: pointer;
  }
  

  
  .menu {
    position: fixed;
    transform: translateY(-100%);
    transition: transform 0.5s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background: rgba(0, 0, 0, 0.933);
    color: #e6b850;
    list-style: none;
    padding-top: 4rem;
  }
  
  .showMenu {
    transform: translateY(0);
  }





/* Button CSS */

button {
    background-color: #E8D7CE;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;

}


/* Section CSS */

section {
    text-align: center;
    height: 560px;
    width: 100%;
}


/* Landing Page */
#landing-page {
    height: 560px;
    background-image: url(/PPD.png);
    background-size:cover;
    background-position: center;
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 100px;
}

.banner {
    background-color: rgba(0, 0, 0, 0.790);
    width: 580px;
    height: 200px;
    font-family: 'Forum', cursive;
    letter-spacing: 0.2px;
    font-size: 40px;
    color: #e6b850;
    display: block;
 padding: 20px 5px;
margin-bottom: 50px;
}

 .hollow-button {
border: 2px solid #e6b850;
background-color: transparent;
color: #e6b850;
font-family: 'DM Sans', sans-serif;
font-weight: 200;
font-size: 14px;
letter-spacing: 1px;
padding: 8px 30px;
width: 180px;
}

.hollow-button:hover {
    border: 3px solid  #ffcc57;
    color:  #ffcc57;
}

.solid-button {
    border: 2px solid #e6b850;
    background-color: #e6b850;
    color: black;
    font-family: 'DM Sans', sans-serif;
    font-weight: 200;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 8px 30px;
    margin: 25px 0 0 5px;
    width: 180px;
}

.solid-button:hover {
    background-color:  #ffcc57;
   border: 2px solid #ffcc57;
}

.section-button {
  border: 2px solid #e6b850;
background-color: transparent;
color: #e6b850;
font-family: 'DM Sans', sans-serif;
font-weight: 200;
font-size: 14px;
letter-spacing: 1px;
width: 180px;
height: 40px;
padding: 8px 10px;
margin: 35px 0 100px 150px;

}

.section-button:hover {
  background-color:  #ffcc57;
  border: 2px solid #ffcc57;
  color: black;
}

.section-header {
  font-size: 36px;
  padding-bottom: 25px;
}

// Sections 1 and 2

.section-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 22px;
  line-height: 1.6;
  padding: 0 180px;
}


#section1 {

  display: flex;
  flex-direction: row;
  font-family: 'Forum', cursive;
  color:#e6b850;
}

#section2 {

  display: flex;
  flex-direction: row-reverse;
  font-family: 'Forum', cursive;
  color:#e6b850;
  margin-top: 50px;
}

#section1 img {
  padding-left: 150px;
  height: 480px;
  transition: transform 0.3s ease-in-out;
}


#section2 img{
  height: 480px;
  padding-right: 150px;
  transition: transform 0.3s ease-in-out;
}

#section1 img:hover, #section2 img:hover {
  transform: scale(1.02);

}

// Section 3 CSS

#section3 {
  padding: 100px 0;  
  height: 600px;
}

#section3 img {
    width: 350px;
}

.flex-container {
  display: flex;
  justify-content: center; 
}

.flex-item {
  flex: 0 0 26%; 
  text-align: center; 
}

.image-container {
  position: relative;
  display: inline-block;
}

.static-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20%;
  background-color: #000000c3;
  opacity: 1;

}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:#e6b950b2;
  opacity: 0;
  transition: opacity 0.9s ease;
}

.image-container:hover .overlay {
  opacity: 1;
  cursor: pointer;
}

.flex-item img {
  display: block; 
}

.text {
  position: absolute;
  top: 90%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  color:#e6b950c6;
  font-size: 35px; 
  
 font-family: "Forum", cursive;
  text-align: center; 
  pointer-events: none; 
}

.image-container:hover .text {
  color: black;
  font-weight: bold;
}


// Our work page CSS

#work-page {
height: 900px;
padding-top: 50px;
}

#work-page h1 {
  font-size: 36px;
  font-family: "Forum", cursive;
  padding-bottom:60px;
}

#work-section {
  
  height: 400px;
}

#work-section img {
    width: 340px;
}


// Header CSS for all pages

.page-header {
  width: 14%;
  font-size: 42px;
  font-family: "Forum", cursive;
 border-bottom: 2px solid #e6b850;
 padding-bottom: 5px;
 margin-bottom: 35px;
 display: inline-block;
}

// Contact page CSS

.contact-email {
  color: #e6b850;
  text-decoration: none;
  font-size: 20px;
}

.contact-email:hover {
  color:white;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 22px;
 width: 450px;
 padding-top: 50px;
 margin: 0 auto;
}

.contact-form input, .contact-form textarea {
  border-radius: 6px;
border: 2px solid #e6b850;
padding: 15px;
margin-bottom: 10px;
background-color: #0000006c;
color:white;
font-family: "DM Sans", sans-serif;
font-size: 15px;
}

.contact-form button {
  border-radius: 6px;
  border: 2px solid #e6b850;
  padding: 15px;
  background-color: #e6b850;
  color: black;
  font-family: "DM Sans", sans-serif;
}

.contact-form button:hover {
  background-color:  #ffcc57;
  color: black;
  cursor: pointer;
}


// Footer CSS

#section-footer {
  height: 500px;
   position: relative;
   display: inline-block;
   background-color: #0f0f0f;
   margin-top: 100px;
}

.footer-overlay {
  position: absolute;
  bottom: 5%;
  left: 0;
  width: 100%;
  height: 10%;
  background-color: #e6b850;
  opacity: 1;
}

.footer-text {
  position: absolute;
  top: 90%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  color:#000000c6;
  font-size: 18px; 
  font-weight: 200;
 font-family: "DM Sans", sans-serif;
  text-align: center; 
  letter-spacing: 1px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 10px; 

  padding: 80px 0 0 180px;
}

.grid-item {
  text-align: start; 
  color: white;
}

.footer-heading {
  font-size: 34px;
  font-family: "Forum", cursive;
  color: #e6b850;
  padding-bottom: 20px;
}

li, li a {
  list-style-type: none;
  text-decoration: none;
  font-size: 20px;
  font-family: 'DM Sans', sans-serif;
    font-weight: 200;
    letter-spacing:1px;
  color: white;
  line-height: 1.6;
}

li a:hover {
  color: #e6b850;
}

.footer-contact {
  font-size: 34px;
  font-family: "Forum", cursive;
  color: #e6b850;
  margin-bottom: 4px;
}

.footer-number {
  font-size: 24px;
  color: #e6b850;
  letter-spacing: 1.6px;
  font-weight: bold;
  margin-bottom: 4px;
}

.footer-email {
  font-size: 16px;
  font-family: "DM Sans", sans-serif;
  letter-spacing: 1px;
  font-weight:200;
 color: white;
 text-decoration: none;
}

.footer-email:hover {
  color: #e6b850;
}

.footer-social{
  margin-top: 10px;
  font-size: 20px;
  color: #434242;
}

.footer-social a {
  vertical-align: middle;
  font-size: 22px;
  color: #434242;
}

.footer-social a:hover {
  color: #e6b850;
}


/* Responsive CSS */
/* Media Queries */

@media only screen and (max-width: 1200px) {



@media only screen and (max-width: 992px) {
    
   
}

@media only screen and (max-width: 768px) {
    
    }
}

@media only screen and (max-width: 576px) {
   
   
}

@media only screen and (max-width: 480px) {

}
