@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Forum&display=swap');


body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
  background-color: rgb(0, 0, 0);
}

h1 {
  color: #e6b850;
}


/* Nav bar CSS */
#nav-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 100;
    height: 80px;
    background-color: rgb(0, 0, 0);
  
}

.nav-image {
    height: 50px;
cursor: pointer;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

  /*  Sidebar menu CSS */
  .menuItem {
    display: block;
    font-size: 1.8rem;
    color: #e6b850;
    text-decoration: none;
  }
  
  .menuItem {
    display: block;
    margin: 2rem 4rem;
    font-size: 1.8rem;
        cursor: pointer;
        position: relative;
        text-decoration: none;
        letter-spacing: 0.5px;
        padding: 0 50px;
        &:after {
          content: "";
          position: absolute;
          background-color: #e6b850;
          height: 3px;
          width: 0;
          bottom: -6px;
          transition: width 0.4s ease, left 0.4s ease;
        }
        &:hover:after {
            width: 14%; /* Adjusted width to 12% to approximately match text width */
            left: calc((100% - 14%) / 2);
        }
      
        &:not(:hover):after {
          width: 0; 
          left: 50%; 
        }
  }
  
  
  .hamburger {
    position: fixed;
    z-index: 100;
    right: 1rem;
    padding: 20px;
  background-color: transparent;
    color: #e6b850;
    cursor: pointer;
  }
  

  
  .menu {
    position: fixed;
    transform: translateY(-100%);
    transition: transform 0.5s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background: rgba(0, 0, 0, 0.933);
    color: #e6b850;
    list-style: none;
    padding-top: 4rem;
  }
  
  .showMenu {
    transform: translateY(0);
  }

 

  




/* Button CSS */

button {
    background-color: #E8D7CE;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;

}


/* Section CSS */

section {
    text-align: center;
    height: 680px;
    width: 100%;
   /* border: 2px solid #e6b850; */
}


/* Landing Page */
#landing-page {
    height: 560px;
    background-image: url(../../public/PPD.png);
    background-size:cover;
    background-position: center;
    display: flex;
    flex-direction: column-reverse;
    
}

.banner {
    background-color: rgba(0, 0, 0, 0.790);
    width: 580px;
    height: 200px;
    font-family: 'Forum', cursive;
    letter-spacing: 0.2px;
    font-size: 40px;
    color: #e6b850;
    display: block;
 padding: 20px 5px;
margin-bottom: 50px;
}

 .hollow-button {
border: 2px solid #e6b850;
background-color: transparent;
color: #e6b850;
font-family: 'DM Sans', sans-serif;
font-weight: 200;
font-size: 14px;
letter-spacing: 1px;
padding: 8px 30px;
width: 180px;
}

.hollow-button:hover {
    border: 3px solid #e6b850;
}

.solid-button {
    border: 2px solid #e6b850;
    background-color: #e6b850;
    color: black;
    font-family: 'DM Sans', sans-serif;
    font-weight: 200;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 8px 30px;
    margin: 25px 0 0 5px;
    width: 180px;
}

.solid-button:hover {
    background-color: #ffce5c;
   border: 2px solid #ffce5c;
}



#section1 {
  
}

#section2{


}

#section3 {
    
}

#footer {
   
}

/* Responsive CSS */
/* Media Queries */

@media only screen and (max-width: 1200px) {



@media only screen and (max-width: 992px) {
    
   
}

@media only screen and (max-width: 768px) {
    
    }
}

@media only screen and (max-width: 576px) {
   
   
}

@media only screen and (max-width: 480px) {

}
